--extra-index-url https://developer.intel.com/ipex-whl-stable-xpu/

torch==2.1.0a0
torchvision==0.16.0.0a0
torchaudio==2.1.0a0
intel-extension-for-pytorch==2.1.10+xpu
oneccl_bind_pt==2.1.300+xpu
intel-extension-for-transformers==1.3.2
scipy>=1.9.3
numpy<=1.26.4
mkl-devel-dpcpp
dpcpp-cpp-rt
mkl-devel
onemkl-sycl-blas
onemkl-sycl-lapack
onemkl-sycl-sparse
onemkl-sycl-dft
onemkl-sycl-vm
onemkl-sycl-rng
onemkl-sycl-stats
openvino
bigdl-core-xe-21==2.5.0b2
ipex-llm[xpu]
ipex-llm[cpp]
