--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/xpu/us
torch==2.1.0.post3+cxx11.abi
torchvision==0.16.0.post3+cxx11.abi
torchaudio==2.1.0.post3+cxx11.abi
intel_extension_for_pytorch==2.1.40+xpu
setuptools==71.1.0
